body {
    background-image: url(img/patt_01.png);
    background-repeat: repeat;
    background-size: 34%;
}

.main {
    height: 600px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -300px -250px;
    text-align: center;
}

.main > img {
    width: 500px;
    height: 500px;
}

ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

li img {
    width: 50px;
}